{{!< default}}

<main class="post-feed canvas">
  {{#tag}}
    <section>
      <header>
        <h1 class="tag-title">{{name}}</h1>
      </header>
      <div class="tag-excerpt">
        {{#if description}}
          {{description}}
        {{else}}
          A collection of {{plural ../pagination.total empty='zero posts' singular='% post' plural='% posts'}}
        {{/if}}
      </div>
    </section>
  {{/tag}}
  {{#foreach posts}}
    {{> "post-card"}}
  {{/foreach}}
</main>