@import "baseline.css";

/* COLOR */
:root {
  --color-black: rgba(0, 0, 0, 1);
  --color-black-o10: rgba(0, 0, 0, 0.1);
  --color-black-o50: rgba(0, 0, 0, 0.5);
  --color-black-o80: rgba(0, 0, 0, 0.8);
  --color-white: rgba(255, 255, 255, 1);
  --color-white-o50: rgba(255, 255, 255, 0.5);
  --color-gold: rgba(119, 102, 102, 1);
  --color-accent: var(--ghost-accent-color);
  --color-selection: var(--color-black-o10);
}

/* TYPE */
:root {
  --font-bold: 700;
  --font-body: normal 400 1.6rem/1.6 Overpass;
  --font-brand: normal 200 1.8rem/1.2 Overpass;
  --font-title: normal 200 3.6rem/1.2 Overpass;
  --font-header-l: normal 400 2.8rem/1.2 Overpass;
  --font-header-m: normal 400 2.4rem/1.2 Overpass;
  --font-header-s: normal 700 2.1rem/1.2 Overpass;
  --font-nav: normal 400 1.4rem/1.6 Overpass;
}
@media (max-width: 600px) {
  :root {
    --font-header-l: normal 400 2.4rem/1.2 Overpass;
    --font-header-m: normal 400 1.7rem/1.2 Overpass;
  }
}

@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../fonts/overpass-v12-latin-200.woff2") format("woff2"),
    url("../fonts/overpass-v12-latin-200.woff") format("woff");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/overpass-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/overpass-v12-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/overpass-v12-latin-700.woff2") format("woff2"),
    url("../fonts/overpass-v12-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("../fonts/overpass-v12-latin-italic.woff2") format("woff2"),
    url("../fonts/overpass-v12-latin-italic.woff") format("woff");
}
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("../fonts/overpass-v12-latin-700italic.woff2") format("woff2"),
    url("../fonts/overpass-v12-latin-700italic.woff") format("woff");
}

/* EFFECTS */
:root {
  --shadow-box: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  --radius-box: 12px;
}

/* PRESENTATION */
/* default */

html {
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--color-white);
  color: var(--color-black);
  font: var(--font-body);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

b {
  font-weight: var(--font-bold);
}

h1 {
  font: var(--font-title);
  margin: 0 0 0.5em 0;
}

h2 {
  font: var(--font-header-l);
  margin: 1.5em 0 0.5em 0;
}

h3 {
  font: var(--font-header-m);
  margin: 1.5em 0 0.5em 0;
}

h4 {
  font: var(--font-header-s);
  margin: 1.5em 0 0.5em 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 2.5em 0 3.5em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--color-black-o10);
}

body > header,
body > footer {
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
}

body > header {
  font: var(--font-brand);
}

body > header a {
  color: var(--color-accent);
}

body > footer {
  font: var(--font-nav);
}

::selection,
mark {
  text-shadow: none;
  background: var(--color-selection);
}

/* site-wide .canvas */
.canvas {
  display: grid;
  grid-template-columns:
    [full-start]
    minmax(max(4vmin, 20px), auto)
    [wide-start]
    minmax(auto, 240px)
    [main-start]
    min(720px, calc(100% - max(8vmin, 40px)))
    [main-end]
    minmax(auto, 240px)
    [wide-end]
    minmax(max(4vmin, 20px), auto)
    [full-end];
}

.canvas > * {
  grid-column: main-start / main-end;
}

.kg-width-wide {
  grid-column: wide-start / wide-end;
}

.kg-width-full {
  grid-column: full-start / full-end;
}

.kg-width-full img {
  width: 100%;
}

/* page and post .content */
.canvas .article-image {
  grid-column: wide-start / wide-end;
  width: 100%;
  margin: max(6.4vmin, 40px) 0 0;
}

.image-full .article-image {
  grid-column: full-start / full-end;
}

.image-small .article-image {
  grid-column: main-start / main-end;
}

.canvas .article-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content > * + * {
  margin-top: max(3.2vmin, 24px);
  margin-bottom: 0;
}

.content > h2:not(:first-child),
.content > h3:not(:first-child) {
  margin: 1.5em 0 0;
}

.content > hr,
.content > blockquote {
  position: relative;
  margin-top: max(4.8vmin, 32px);
}

.content .kg-callout-card .kg-callout-text,
.content .kg-toggle-card .kg-toggle-content > ol,
.content .kg-toggle-card .kg-toggle-content > ul,
.content .kg-toggle-card .kg-toggle-content > p {
  font: var(--font-body);
}

.content .kg-product-card .kg-product-card-title {
  font: var(--font-header-s);
}

.content .kg-product-card .kg-product-card-description > p,
.content .kg-product-card .kg-product-card-description > ol,
.content .kg-product-card .kg-product-card-description > ul {
  font: var(--font-body);
}

.content .kg-callout-card .kg-callout-emoji {
  font-size: 1.2em;
}

.content .kg-toggle-card .kg-toggle-heading-text {
  font: var(--font-body);
}

.content :not(pre) > code {
  vertical-align: middle;
  padding: 0.15em 0.4em 0.15em;
  border: var(--color-white) 1px solid;
  font-size: 0.9em;
  line-height: 1em;
  color: var(--color-black);
  background: var(--color-white);
  border-radius: 0.25em;
}

.content pre {
  overflow: auto;
  padding: 16px 20px;
  color: var(--color-white);
  font-size: 1.4rem;
  line-height: 1.5em;
  background: var(--color-black);
  border-radius: 5px;
}

.content :not(.kg-card):not([id]) + .kg-card {
  margin-top: 6vmin;
  margin-bottom: 0;
}
.content .kg-card + :not(.kg-card) {
  margin-top: 6vmin;
  margin-bottom: 0;
}

.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.kg-image-card img {
  margin: auto;
}

.content .kg-callout-card-accent a {
  text-decoration: underline;
}

figcaption {
  padding: 1.5rem 1.5rem 0;
  text-align: center;
  color: var(--color-black-o50);
  font-size: 1.3rem;
  line-height: 1.4em;
}
figcaption strong {
  color: var(--color-black-o80);
}
figcaption a {
  text-decoration: underline;
}

iframe.instagram-media {
  margin-top: 6vmin !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0 !important;
}

iframe.instagram-media + script + :not([id]) {
  margin-top: 6vmin;
}

.kg-width-full.kg-card-hascaption {
  display: grid;
  grid-template-columns: inherit;
}

.kg-width-wide.kg-card-hascaption img {
  grid-column: wide-start / wide-end;
}
.kg-width-full.kg-card-hascaption img {
  grid-column: 1 / -1;
}

.kg-width-full.kg-card-hascaption figcaption {
  grid-column: main-start / main-end;
}

.article-comments {
  margin: 6vmin 0 0 0;
}

.content table {
  display: inline-block;
  overflow-x: auto;
  max-width: 100%;
  width: auto;
  border-spacing: 0;
  border-collapse: collapse;
  white-space: nowrap;
  vertical-align: top;
}

.content table {
  -webkit-overflow-scrolling: touch;
}

.content table th {
  font-weight: var(--font-bold);
  letter-spacing: 0.2px;
  text-align: left;
  text-transform: uppercase;
}

.content table th,
.content table td {
  padding: 6px 12px;
  border: 1px solid var(--color-black-o10);
}

.article-byline {
  display: flex;
  justify-content: space-between;
  margin: min(24px, 5.6vmin) 0 0;
}

.article-byline-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.article-byline-content .author-list {
  justify-content: flex-start;
  padding: 0 14px 0 0;
}

.article-byline-meta {
  color: var(--color-secondary-text);
  font-size: 1.4rem;
  line-height: 1.2em;
}

.article-byline-meta .author-name {
  margin: 0 0 6px;
  font-size: 1.7rem;
  font-weight: var(--font-bold);
  letter-spacing: 0;
}

.article-byline-meta .bull {
  display: inline-block;
  margin: 0 2px;
}

.author-avatar {
  display: block;
  overflow: hidden;
  margin: 0 -4px;
  width: min(56px, 13.6vmin);
  height: min(56px, 13.6vmin);
  border: var(--color-white) 2px solid;
  border-radius: 50%;
  background-color: var(--color-black-o10);
}

.page-template .article-title {
  margin-bottom: 0;
}

/* home */
.home-template h2 {
  padding: 8rem 1rem;
  text-align: center;
}

/* error */
.error-template h1 {
  padding: 8rem 1rem;
  text-align: center;
}

/* tag */
.tag-template h1 {
  margin-top: 4rem;
}

/* post card */
.post-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  word-break: break-word;
}

.post-card-image-link {
  position: relative;
  overflow: hidden;
  display: block;
  margin-bottom: 32px;
}

.post-card-image-link::after {
  content: "";
  display: block;
  padding-bottom: 55%;
}

.post-card-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--color-black-o10) no-repeat center center;
  object-fit: cover;
}

.post-card-content-link {
  position: relative;
  display: block;
  color: var(--color-black);
}

.post-card-content-link:hover {
  text-decoration: none;
}

.post-feed .no-image .post-card-content-link {
  padding: 0;
}

.no-image .post-card-header {
  margin-top: 0;
}

.post-card-tags {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 10px;
  color: var(--color-accent);
  font-size: 1.4rem;
  font-weight: var(--font-bold);
  letter-spacing: -0.005em;
  line-height: 1;
}

.post-card-featured {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
  padding-left: 18px;
  color: var(--ghost-accent-color);
}

.post-card-featured svg {
  position: absolute;
  left: 0;
}

.post-card-title {
  margin: 0;
  font-size: 2.6rem;
  font-weight: var(--font-bold);
}

.post-card-content-link:hover .post-card-title {
  opacity: 0.9;
}

.no-image .post-card-title {
  margin-top: 0;
}

.post-card-title svg {
  margin-top: -3px;
  margin-left: -1px;
}

.post-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post-card-excerpt {
  display: -webkit-box;
  overflow-y: hidden;
  margin-top: 12px;
  max-width: 720px;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.post-card:not(.post-card-large):not(.post-card-full):not(.dynamic):not(.no-image)
  .post-card-excerpt {
  -webkit-line-clamp: 2;
}

:is(.tag-template, .author-template) .post-card-excerpt {
  margin-top: 6px;
}

.post-card-meta {
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding: 0;
  font-size: 1.3rem;
  color: var(--color-secondary-text);
}

.post-card-meta .sep {
  margin: 0 4px;
}
